<div class="form">
  <div class="form-container">
    <h1>My Bookings</h1>
    <% if @bookings.empty? %>
      <p>You have no bookings at this time...</p>
    <% else %>
      <% @bookings.each do |booking| %>
        <p><span class="bold">Chef:</span> <%= booking.chef.first_name.capitalize %> <%= booking.chef.last_name.capitalize %></p>
        <p><span class="bold">Date:</span> <%= booking.date %></p>
        <p><span class="bold">Status:</span> <%= booking.status %></p>
        <hr>
      <% end %>
    <% end %>

    <h1>Paid Bookings</h1>
    <% if @chef_bookings.empty? %>
      <p>You have no bookings at this time...</p>
    <% else %>
      <% @chef_bookings.each do |booking| %>
        <p><span class="bold">Status:</span> <%= booking.status %></p>
        <p><span class="bold">Date:</span> <%= booking.date %></p>
        <p><span class="bold">Client name:</span> <%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></p>
          <button type="button" class="accept-button" onclick="window.location.href='<%= edit_booking_path(booking) %>'">
            Accept/Reject
          </button>
          <hr>
      <% end %>
    <% end %>
  </div>
</div>
