<div class="container">
  <h1>My bookings</h1>
  <% @bookings.each do |booking| %>
  <p>Chef: <%= booking.chef.first_name %></p>
  <p><%= booking.date %></p>
  <p>status: <%= booking.status %></p>
  <hr>
  <% end %>

  <h2>Paid booking</h2>
  <% if @chef_bookings %>
    <% @chef_bookings.each do |booking| %>
      <p>Status: <%= booking.status %></p>
      <p>Date: <%= booking.date %></p>
      <p>Client name: <%= booking.user.first_name %></p>
      <%= link_to 'confirm/decline booking', edit_booking_path(booking) %>
    <% end %>
  <% end %>
</div>
