<div class="container">
  <h1>Book a Chef</h1>

<%= render 'devise/shared/error_booking', errors: @booking.errors if @booking.errors.any? %>

  <%= form_with(model: @booking, url: create_booking_user_path(@chef), method: :post) do |form| %>
    <div>
      <strong>Status:</strong> Available
    </div>

    <div>
      <%= form.label :date %>
      <%= form.date_select :date %>
    </div>

  <%= form.hidden_field :chef_id, value: @chef.id %>
  <%= form.submit 'Book Chef' %>
<% end %>

  <%= link_to 'Back', user_path(@chef) %>
</div>
