<div class="cards-container">
  <h1>Our Chefs</h1>
      <div class="cards">
        <% @chefs.each do |chef| %>
          <% if chef.is_chef == true %>
           <a href="<%= user_path(chef) %>" class="card-link">
            <div class="card-price-city <%= @chef.present? && @chef.profile_photo.key.present? ? 'profile-bg' : 'default-bg' %>">
              <div class="name-city">
                <h2><strong><%= "#{chef.first_name} #{chef.last_name}" %></strong></h2>
                <h3><%= chef.city %></h3>
              </div>
              <div class="card-border">
                <h2><%= number_to_currency(chef.price.to_i, precision: 0) %>/hr</h2>
              </div>
            </div>
           </a>
          <% end %>
        <% end %>
      </div>
</div>
