<div class="container">
  <h1><%= @chef.first_name %> <%= @chef.last_name %></h1>
  <p><%= @chef.description %></p>
  <p>Price <%= number_to_currency(@chef.price, precision: 0) %>/hr</p>

  <% if @chef == current_user %>
    <%= link_to 'Edit profile',edit_user_path(@chef) %>
  <% end %>

  <%= link_to 'Home', root_path %>
  |
  <%= link_to 'Chefs', users_path %>

  <% unless @chef == current_user %>
    <%= link_to "Book chef", new_user_booking_path(@chef) %>
  <% end %>

</div>
