<div class="container-wrapper">
  <div class="button-container">
    <%= link_to 'â† Back', users_path, class: 'btn-green' %>
  </div>
  <div class="content-container">
    <% @chef.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 400, class: 'profile-img'  %>
      <% end %>
    <div class="chef-name-inline">
    <div class="name-flex">
      <h1><%= @chef.first_name.capitalize %> <%= @chef.last_name.capitalize %></h1>
      <p><i class="fa-solid fa-location-dot"></i> <%= @chef.city %></p>
    </div>
      <div class="info-flex">
        <p>Price <%= number_to_currency(@chef.price, precision: 0) %>/hr</p>
        <% if @chef == current_user %>
          <%= link_to 'Edit profile',edit_user_path(@chef), class: 'link' %>
        <% else %>
          <%= link_to "Book chef", new_user_booking_path(@chef), class: 'link' %>
        <% end %>
      </div>
    </div>
  <% if @chef.description.nil? || @chef.description == "" %>
    <div class="description-flex-container-no-border">
      <div class="description-map">
      <p>No description added yet...</p>
      <div style="width: 95%; height: 250px;"
              data-controller="map"
              data-map-marker-value="<%= @marker.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
              class="map">
      </div>
    </div>
  <% else %>
  <div class="description-flex-container">
  <div class="description-map">
    <p><%= @chef.description %></p>
    <div style="width: 95%; height: 250px;"
          data-controller="map"
          data-map-marker-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          class="map">
    </div>
  </div>
  <% end %>
    <% if @chef.profile_photo.key.nil? %>
    <%= image_tag("https://i.ibb.co/NLGFp5g/rent-default.jpg", size: '650x450', alt: 'Default chef profile picture', class: 'show-img') %>
    <% else %>
      <%= cl_image_tag @chef.profile_photo.key, height: 650, width: 450, class: 'show-img'  %>
    <% end %>
  </div>
  <hr>
  <% if current_user %>
    <% if params[:id].to_i != current_user.id %>
      <%= link_to "Add Review", new_user_review_path(@chef) %>
    <% end %>
  <% end %>
  <h2>User Reviews</h2>
    <% if @chef.reviews_as_chef.any? %>
      <% @chef.reviews_as_chef.each do |review| %>
        <p><strong>-</strong> <%= "#{review.user.first_name[0].capitalize} #{review.user.last_name.capitalize} (#{review.created_at.strftime("%d %B %Y, %l:%M%P")})" %></p>
        <p><em>"<%= review.comment %>"</em></p>
        <p><strong>Rating:</strong> <%= review.rating %>*</p>
      <% end %>
      <hr>
    <% else %>
      <p>No reviews yet. Be the first to add a review...</p>
    <% end %>
  </div>
  </div>
</div>
