<div class="container">
  <h1><%= @chef.first_name %> <%= @chef.last_name %></h1>

  <p><strong>Bio:</strong> <%= @chef.description %></p>


  <%= link_to 'Book Chef', book_chef_user_path(@chef) %>


  <%= link_to 'Home', root_path %>
</div>
