
<div class="homepage">
    <div class="homepage-container">
      <div class="homepage-text-container">
      <h1>Find a chef to cook for you wherever, whenever.</h1>
      <div class="homepage-form-container">
        <%= simple_form_for("/search", method: "get", html: { class: "form-container" }) do |f| %>
          <div class="search-input-container">
            <%= f.input :query, label: "", input_html: { placeholder: "What are you looking for?", class: "search-field" }, required: false, label_html: { class: "hidden-label" } %>
            <%= f.button :submit, "Search", class: "search-button" %>
          </div>
          <div class="search-filter-container">
              <%= f.input :cuisine, collection: ["Italian", "Mexican", "Japanese"], include_blank: "Cuisine", label: "", required: false, label_html: { class: "hidden-label" } %>
              <%= f.input :location, collection: ["New York", "Los Angeles", "London"], prompt: "Location", label: "", required: false, label_html: { class: "hidden-label" } %>
              <%= f.input :price_range, collection: ["€ - Affordable", "€€ - Moderate", "€€€ - Expensive"], prompt: "Price Range", label: "", required: false, label_html: { class: "hidden-label" } %>
          <% end %>
        </div>
      </div>
      </div>
      <div class="homepage-image-container">
        <img src="https://images.unsplash.com/photo-1581349485608-9469926a8e5e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" alt="Chef Image" class="homepage-image">
      </div>
    </div>
</div>
