<div class="navbar">
  <div class="navbar-container">
    <div class="navbar-icons-container">
      <div class="navbar-notification-bell">
        <% if user_signed_in? %>
          <span class="navbar-notification-icon"><i class="fa-solid fa-bell fa-lg" style="color: #062c14;"></i></span>
            <% if user_signed_in? && current_user.messages.unread.exists? %>
              <span class="navbar-notification-count">
                <%= current_user.messages.unread.count %>
              </span>
            <% else %>
              <span class="navbar-notification-count hide-notification">
              0
              </span>
            <% end %>
        <% end %>
      </div>
        <div class="navbar-menu-icon">
        <div class="dropdown">
          <button class="dropdown-toggle" onclick="toggleDropdown()" aria-expanded="false">
            <i class="fa-solid fa-bars fa-xl" style="color: #062c14;"></i>
          </button>
          <div class="dropdown-menu" id="navbar-dropdown">
            <% if user_signed_in? %>
              <div class="dropdown-link-signed-in">
                <%= link_to "My Profile", user_path(current_user), class: "dropdown-link-style" %>
              </div>
              <div class="dropdown-link-signed-in">
                <%= link_to "My Bookings", my_bookings_bookings_path, class: "dropdown-link-style" %>
              </div>
              <% end %>
            <div class="dropdown-link">
              <%= link_to "Browse All Chefs", users_path, class: "dropdown-link-style" %>
            </div>
            <div class="dropdown-link">
              <%= link_to "About Rent-A-Chef", "#", class: "dropdown-link-style" %>
            </div>
            <div class="dropdown-link">
              <%= link_to "Contact Us", "#", class: "dropdown-link-style" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-bottom-container">
      <div class="navbar-logo">
        <%= link_to root_path do  %>
          <%= image_tag "https://i.ibb.co/3YZD43H/rent-a-chef-logo.png", class: "navbar-logo" %>
          <% end %>
      </div>
      <div class="navbar-button">
        <% if user_signed_in? %>
          <%= form_tag destroy_user_session_path, method: :delete do %>
            <%= submit_tag 'Log out', class: 'signup-button' %>
          <% end %>
        <% else %>
          <button class="signin-button" onclick="window.location.href='<%= user_session_path %>'"><i class="fa-solid fa-lock fa-2xs" style="color: #0a562a;"></i> Sign In</button>
          <button class="signup-button" onclick="window.location.href='<%= new_user_registration_path %>'"><i class="fa-solid fa-user fa-2xs" style="color: #f0f0f0;"></i> Register</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# dropdown menu script %>
<script>
  document.addEventListener('click', function(event) {
    var dropdown = document.getElementById("navbar-dropdown");
    var toggleButton = document.querySelector(".dropdown-toggle");
    if (!dropdown.contains(event.target) && !toggleButton.contains(event.target)) {
      dropdown.classList.remove("show");
    }
  });

  function toggleDropdown() {
    var dropdown = document.getElementById("navbar-dropdown");
    dropdown.classList.toggle("show");
  }
</script>
